---
layout: default
---

<style>
  .speakers-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .speaker {
    text-align: center;
    flex: 1 1 250px;
    margin: 10px;
  }
  .large-people-pic {
    max-width: 250px;
    height: 250px;
  }
</style>

<article class="post">

  <header class="post-header">
    <h1 class="post-title">{{ page.title | escape }}</h1>
  </header>

  <div class="post-content">
    <div class="speakers-container">
      {% for speaker in site.speakers %}
        <div class="speaker">

          <p align="center">
            {% if speaker.img %}
              <img class="people-pic large-people-pic"
                   src="{{ speaker.img | prepend: '/assets/img/speakers/' | prepend: site.baseurl | prepend: site.url }}">
            {% else %}
              <img class="people-pic large-people-pic"
                   src="{{ 'avatar.jpg' | prepend: '/assets/img/speakers/' | prepend: site.baseurl | prepend: site.url }}">
            {% endif %}
          </p>

          <div class="people-name">
            {% if speaker.webpage %}
              <b><a href="{{ speaker.webpage }}" target="_blank">{{ speaker.name }}</a></b>
            {% else %}
              <b>{{ speaker.name }}</b>
            {% endif %}
            <br>

            {% if speaker.affil_link %}
              <a href="{{ speaker.affil_link }}" target="_blank">{{ speaker.affil }}</a>
            {% else %}
              {{ speaker.affil }}
            {% endif %}

            {% if speaker.affil2 %}
              <br>
              {% if speaker.affil2_link %}
                <a href="{{ speaker.affil2_link }}" target="_blank">{{ speaker.affil2 }}</a>
              {% else %}
                {{ speaker.affil2 }}
              {% endif %}
            {% endif %}
          </div>

          <!-- Speaker bio/content -->
          <div class="people-name text-center">
            {{ speaker.content }}
          </div>

        </div>
      {% endfor %}
    </div>
  </div>

</article>
